{% extends "main/base.html" %}

{% block content %}
<h1>CRUD</h1>

<form action="" method="POST" novalidate>
{{ form.hidden_tag() }}
<p class="pb-2">
{{ form.name.label }}:
{{ form.name(size=32, class="border border-gray") }}
</p>
<p class="pb-2">
<button type="submit" class="border rounded-sm border-gray px-2">{{ form.submit.label }}</button>
</p>
</form>

<table>
<thead>
  <tr>
    <th class="border border-gray-300">id</th>
    <th class="border border-gray-300">name</th>
    <th class="border border-gray-300">created</th>
  </tr>
</thead>
<tbody>
{% for crud in cruds %}
  <tr>
    <td class="border border-gray-300 px-2">{{ crud.id }}</td>
    <td class="border border-gray-300 px-2">{{ crud.name }}</td>
    <td class="border border-gray-300 px-2">{{ crud.created_at.strftime("%Y-%m-%d %H:%M") }}</td>
  </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
